In [1]:
games = (1,2,3,4,5)

for game in games:
  print(game)

1
2
3
4
5

In [6]:
i = 0
while i < len(games):
  i = i+ 1
  print(i)

1
2
3
4
5

In [7]:
squares = [n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
test_games = [game * 4 for game in games]
test_games

[4, 8, 12, 16, 20]

In [11]:
short_planets = ["Venus", "Earth", "Mars"]
short_planets = [planet for planet in short_planets if (len(planet) > 4)]
short_planets

['Venus', 'Earth']

In [ ]:
#Analogy with SQL Syntax for list comprehension
 [
    Select
    From
    where
]

In [14]:
L = [2,4,6,8,9]
thresh = 2

ele = [ele > thresh for ele in L ]
ele

[False, True, True, True, True]

In [15]:
names = "ranjit, singh, bhandari, kartik, lucky, lubana"
names = names.split(',')
names

['ranjit', ' singh', ' bhandari', ' kartik', ' lucky', ' lubana']

In [19]:
names = [capitol.upper() for capitol in names]
names

['RANJIT', ' SINGH', ' BHANDARI', ' KARTIK', ' LUCKY', ' LUBANA']

In [20]:
names = [name.startswith("L") for name in names]
names

[False, False, False, False, False, False]

In [22]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_inital = {planet:planet[0] for planet in planets}
planet_to_inital

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [23]:
'Saturn' in planet_to_inital

True

In [24]:
for k in planet_to_inital:
  print("{} = {}".format(k, planet_to_inital[k]))

Mercury = M
Venus = V
Earth = E
Mars = M
Jupiter = J
Saturn = S
Uranus = U
Neptune = N

In [25]:
planet_to_inital.values()

dict_values(['M', 'V', 'E', 'M', 'J', 'S', 'U', 'N'])

In [26]:
planet_to_inital.keys()

dict_keys(['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'])

In [27]:
import math as mt

print("it is a math and has type {}".format(type(mt)))

it is a math and has type <class 'module'>

In [28]:
print(dir(mt))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [29]:
mt.pi

3.141592653589793

In [30]:
import numpy as np

print("numpy random is a {}".format(type(np.random)))

numpy random is a <class 'module'>

In [31]:
print(type(np))

<class 'module'>

In [32]:
rolls = np.random.randint(low=1, high=6, size=10)
rolls

array([1, 4, 5, 5, 5, 2, 3, 4, 1, 2])

In [33]:
type(rolls)

numpy.ndarray

In [34]:
rolls.mean

In [35]:
rolls.mean()

3.2

In [36]:
rolls + 10

array([11, 14, 15, 15, 15, 12, 13, 14, 11, 12])

In [38]:
def to_smash(total_candies):
    """Return the number of leftover candies that must be smashed after distributing
    the given number of candies evenly between 3 friends.

    >>> to_smash(91)
    1
    """
    if total_candies == 1:
        print("Splitting", total_candies, "candy")
    else:
        print("Splitting", total_candies, "candies")
    return total_candies % 3

print(to_smash(95))
to_smash(11)
to_smash(1)

Splitting 95 candies
2
Splitting 11 candies
Splitting 1 candy

1